@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.cabecalho-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    flex-shrink: 0;
    background-image: url("../img/BACKGROUND-servicos.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    z-index: -1;
    border: 1px solid #000;
}

.cabecalho {
    display: flex;
    width: 1440px;
    height: 55px;
    padding: 10px 115px 10px 80px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.cabecalho-imagem {
    width: 250px;
    height: 50px;
}

.cabecalho-lista {
    display: flex;
    gap: .9rem;
    margin-right: 3rem;
}

.cabecalho-lista__item {
    color: #fff;
}

.cabecalho-lista__item:hover {
    color: #00B4D8;
}

.cabecalho-botao {
    color: #fff;
    border-radius: 5px;
    border: 2px solid #00B4D8;
    padding: .4rem .6rem;
    transition: .3s ease-out;
}

.cotainer-cabecalho {
    text-align: center;
    position: relative;
}

.cotainer-cabecalho>div {
    position: absolute;
    left: 34rem;
    top: 1rem;
}

.texto-container {
    position: absolute;
    left: 28rem;
    top: 17rem;
    font-size: 48px;
    text-decoration: underline;
    text-decoration-color: #00B4D8;
    padding-bottom: 4rem;
}

.container-imagem {
    width: 455px;
    height: 456px;
}

/* inicio do main */

main {
    width: 100%;
    height: 100%;
    position: relative;
}

.anuncio2 {
    position: relative;
    top: 34rem;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11rem;
    margin-top: 4.75rem;
    margin-bottom: 4.75rem;
}

.anuncio2>img {
    width: 483px;
    height: 306px;
    flex-shrink: 0;
    -webkit-box-shadow: -81px -80px 0px -60px rgba(0, 180, 216, 1);
    -moz-box-shadow: -81px -80px 0px -60px rgba(0, 180, 216, 1);
    box-shadow: -81px -80px 0px -60px rgba(0, 180, 216, 1);
}

.primeirop {
    color: #00B4D8;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.segundop {
    font-size: 1.3rem;
    font-weight: bold;
    color: #00B4D8;
    margin-bottom: 1rem;
}

.primeiroh2 {
    color: #1E1E1E;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 2rem;
}

.btnContratar {
    border-radius: 10px;
    background: #00B4D8;
    color: #fff;
    padding: .5rem;
    margin-left: 24rem;
    position: absolute;
    top: 18.5rem;
}

.anuncio3 {
    position: relative;
    top: 34rem;
    height: 500px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    margin-top: 4.75rem;
}

.anuncio3>img {
    width: 483px;
    height: 306px;
    flex-shrink: 0;
    -webkit-box-shadow: -81px -80px 0px -60px rgba(0, 180, 216, 1);
    -moz-box-shadow: -81px -80px 0px -60px rgba(0, 180, 216, 1);
    box-shadow: -81px -80px 0px -60px rgba(0, 180, 216, 1);
}

.btnContratar2{
    border-radius: 10px;
    background: #00B4D8;
    color: #fff;
    padding: .5rem;
    position: absolute;
    bottom: 10px;
    margin-bottom: 3.5rem;
}

/* inicio do footer */

footer {
    width: 100%;
    height: 100%;
    background: #292929;
    margin-top: 41rem;
}

.container-footer {
    display: flex;
    justify-content: center;
    gap: 15rem;
    align-items: center;
}

.dravec {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dravec>img {
    width: 250px;
    height: 50px;
}

.dravec>p {
    margin-top: 1rem;
}

.links>h3 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
}

.links>p {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: .4rem;
}

.contato>h3 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
}

.contato>div {
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

hr {
    width: 100%;
    height: 0;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0.50);
    margin-top: .5rem;
}

.copyright {
    color: rgba(255, 255, 255, 0.50);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: .5rem;
}

/* Responsividade */

@media screen and (min-width: 1800px){
    .cabecalho{
        margin-left: 10.2rem;
    }

    .cotainer-cabecalho>div{
        left: 46rem;
    }

    .texto-container{
        left: 39.5rem;
    }

    .anuncio3{
        gap: 17rem;
    }
}